fastapi
uvicorn[standard]
redis
rq
python-dotenv
pydantic
pydantic-settings
passlib[bcrypt]
langgraph
langchain
langchain-core
langchain-groq
groq
temporalio
pytest
pytest-asyncio
httpx
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.9